export MAPBOX_API_KEY=pk.eyJ1IjoiaGFubm11aGFtbWFkZCIsImEiOiJjbG1wem1lNmcwNzJwMmtwbW8wNXF1b21qIn0.MMpQ3z7FVSLQ5HbYTqOhJQ
export DATABASE_URL=postgres://postgres:rahasia123@localhost:5432/busline?sslmode=disable